{% extends "layout.njk" %}

{% block content %}
    <div id="wrapper">
        <img src="https://avatars.githubusercontent.com/u/56791569?v=4" alt="Leticia Dias">
        <h1>Leticia Dias</h1>
        <h2>Desenvolvedora Web</h2>
        <p>Programadora full-stack. Estou em um constante aprendizado para fortalecer meus conhecimentos na área. <a
                href="https://app.rocketseat.com.br" target="_blank">Rocketseat</a></p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com" target="_blank">Github</a>
        <a href="https://twitter.com" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com" target="_blank">Linkedin</a>
    </div>

{% endblock %}    