<!DOCTYPE html> 

<html>

    <head>
        <title>Leticia Dias</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">About</a>
                <a href="/portfolio">Portfolio</a>
            </div>
         </header>

         {% block content %}

         {% endblock %}
        
    </body>

</html>