{% extends "layout.njk" %}

{% block content %}
    <div class="container">
        <h1>Projetos</h1>

        <h3>Alguns projetos desenvolvidos em imersões, bootcamps, desafios, maratonas, etc.</h3>

        <section class="cards1">
            <div class="card">
                <a href="">certificad</a>
                <p>Projeto desenvolvido na ImersãoDev da Alura</p>
            </div>


            <div class="card">
                <a href="">trunfo-game</a>
                <p>Projeto desenvolvido na ImersãoDev da Alura</p>
            </div>

            <div class="card">
                <a href="">The Adventure of a Stick Figure</a>
                <p>Projeto desenvolvido do livro Head First</p>
            </div>
        </section>
        <section class="cards2">
            <div class="card">
                <a href="">StarCine</a>
                <p>Projeto desenvolvido do livro Head First</p>
            </div>

            <div class="card">
                <a href="">dev.finance</a>
                <p>Projeto desenvolvido na Maratona Discover</p>
            </div>

            <div class="card">
                <a href="https://github.com/leticiadia/Community">Community</a>
                <p>Projeto desenvolvido no bootcamp LaunchBase</p>
            </div>

        </section>
    </div>

    <script src="script.js"></script>

{% endblock %}